<!-- container_commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  fix_path:
    command: "unzip ps3c.war 2>&1 > /var/log/my_last_deploy.log"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo unlink /etc/localtime
      sudo ln -s /usr/share/zoneinfo/America/Bogota /etc/localtime -->

container_commands:
  fix_path:
    command: "cd /var/lib/tomcat8/webapps/ROOT/ && unzip my-web-app.war 2>&1 > /var/log/my_last_deploy.log && rm my-web-app.war"