@charset "UTF-8";

.fa-circle-notch {
	color: #ffcc01 !important;
}

.sidebar{
		background-color: rgb(16, 21, 28) !important;
}

.sidebar .nav ul.children li a{
	background-color: rgb(70, 70, 70) !important;
	color: white;
}

.children collapse show nav-link {
	background-color: rgb(100, 100, 100) !important;
	color: orange !important;
}
footer a{
	color: rgb(213, 108, 62) !important;
}

canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}