@CHARSET "ISO-8859-1";



.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 70%;
	margin: auto;
}

.conter {
	text-decoration: none;
	max-width: 1000px;
	margin: auto;
	padding: 80px 0;
	text-align: center;
}

.container input {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}

.fondo {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo {
	max-height: 00px;
	background: green;
}